header{
    background-color: red;
    width: 75%;
}
nav{
    background-color: #333333;
    display: inline-block;
    float: right;
    height: 5em;
    margin-right: 5em;
    margin-top: 2em;
    width: 64%;
}
aside{
    background-color: #585352;
    float: left;
    height: 100%;
    width: 17%;
    padding: 1em;
    margin-top: 1em;

}
main{
    background-color: #ac9995;
    float: right;
    height: 100%;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;
    width: 52%;
    margin-right: 20em;
}
footer{
    float: left;
    height: 20%;
    width: 73%;
    margin-top: 1em;
    padding: 1em;


}
